<div id="login-form-wrap" style="margin-top: 100px;" >
  <h2>Login</h2>
  <form id="login-form" [formGroup]="loginForm" autocomplete="off">
    <p>
      <input type="text" id="username" name="username" placeholder="Username" formControlName="username" required><i
        class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="password" id="email" name="email" placeholder="Password" formControlName="password" required><i
        class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="submit" id="login" value="Login" (click)="login()">
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a href="#">Create Account</a>
    <p>
  </div>
</div>